body{
	background-color: #fff;
	
}
.navbar-inverse .navbar-inner {
	background: #fff;
	opacity: .9;
	border: 0;
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
	
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > a:hover{
	color: #000;
	background-color: transparent;	
	text-shadow: none;
}
.navbar-inverse .nav > li > a:hover{
	color: #f26522;
}
.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > .active > a:hover{
	color: #f26522;
	background-color: transparent;	
	box-shadow: none;
	position: relative;
}
.hero-unit{
	background-image: radial-gradient(closest-side, transparent 98%, rgba(179,226,236,.5) 99%), 
	radial-gradient(closest-side, transparent 98%, rgba(179,226,236,.5) 99%);
	background-size: 80px 80px;
	background-position: 0 0, 40px 40px;
}
.hero-unit h1{
	color: #f26522;
}
.carousel{
	margin: 80px 0 0;
}
.carousel-inner {
	padding: 0 80px;
	width: auto;
}
.carousel-inner .item{
	font-size: 1.8em;
	line-height: 1.2em;
	font-style: italic;
	min-height: 100px;
}
.carousel-inner .item:before,
.carousel-inner .item:after{
	content: '"';
}	
.featurette{
	padding: 20px 50px;
}
.featurette-image{
	margin: 40px;
	border-radius: 100%;
}
#about{
}
footer{
	margin: 50px;
}
#services{
	background-color: rgba(179,226,236,.3);
}
#contact{
}